@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.lexend-00 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.lexend-700 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.lexend-400 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.searchicon{
  position: absolute;
  top: 60px;
  left: 1550px;
  z-index: 1;
}
.inputt{
  position: relative;
  top: 0px;
}